/.env

# Lambda deployment artifacts
lambda_refresh_odds/*.dist-info/
lambda/certifi/
lambda/charset_normalizer/
lambda/dotenv/
lambda/idna/
lambda/redis/
lambda/requests/
lambda/urllib3/
lambda/bin/
lambda/__pycache__/
lambda/cache.py
lambda/odds_producer.py
lambda_refresh_odds/*.so
refresh_odds.zip

# General
__pycache__/
*.pyc
dump.rdb
